// Place all the styles related to the Admin::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  border-bottom: solid 1px; 
}

.show-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #a9a9a9;
  padding: 20px;
}