<div class="post-contents wrapper">
  <article>
    <div class="post-background">
      <h1>愚痴</h1>
      <p id="notice"><%= notice %></p>
      <div id="messages">
        <%= render @posts %>
      </div>
    </div>
  </article>
  <aside>
    <div class="post-background">
      管理人挨拶
      <img class="admin-logo" src="images/animal_koutei_penguin_hina.png" alt="管理人のlogo">
      <p>こんにちは denunce管理人です。</p>
      <p>snsにかけないことや、普段たまっている愚痴をここで発散しませんか？</p>
      <p>あなたの日頃の愚痴を投稿して、ストレスを吹き飛ばしましょう！！</p>
    </div>
    <br>
    <div class="post-background">
      <p>愚痴の種類</p>
      <% @categories.each do |category| %>
        <p><%= link_to "#{category.name}", posts_path %></p>
      <% end %> 
    </div>
    <br>
    <div class="post-background">広告</div>
  </aside>
</div>
