// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通部分---------------*/

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  padding-left: 20px;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #dae0e6;
}

//header

.logo {
  width: 120px;
}


.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 20px;
}

.header-nav {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  padding-right: 20px;
}

.header-nav li {
  margin-left: 36px;
}

.header-nav a{
  color: black;
  font-size: 20px;
}

.header-nav a:hover {
  color: red;
}

//form
.search-form {
  display: inline-block;
  position: relative;
  margin: 0 0 0 420px;
}

.search-form::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(./icon.png) no-repeat center center / auto 100%;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 8px;
}

.search-form input[type="text"] {
  width: 300px;
  height: 30px;
  border-radius: 8px;
  border: solid 1px #a9a9a9;
  padding: 3px 0 3px 2.3em;
}


//main

article {
  width: 50%;
  padding: 0 0 0 10%;
}

aside {
  width: 20%;
  padding: 0 10% 0 0;
}

.post-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.post-background {
  background-color: #fff;
  padding: 10px;
}


// form
.popup {
  /*メッセージのコンテンツを中央に配置する*/
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  /*半透明の黒背景にする*/
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.6);

  /*画面がスクロールしないように固定する*/
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

.form-field {
  background-color: #fff;
  margin: 0 290px;
  padding: 10px;
}

textarea {
  margin: 0px;
  width: 730px;
  height: 200px;
  border-radius: 10px;
  border: solid 1px;
  resize: none;
  padding: 10px;
}

.status {
  margin-bottom: 20px;
}

.text-center {
  text-align: center!important;  
}
.form-all {
  top: 30%;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 110px auto;
  background-color: #fff;
}

.form-control {
  width: 300px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  border: solid 1px #ced4da;
}

.form-btn1 {
  width: 320px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin-bottom: 10px;
}

.form-btn2 {
  width: 320px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #dc143c;
  border-color: #dc143c;
  margin-bottom: 10px;
}

.label-hidden {
  display: none;
}

.form-group {
  margin-bottom: 10px;
}

.show-all {
  margin: auto;
  background-color: #fff;
  padding: 20px;
  max-width: 660px;
}

.back-left {
  text-align: left;
}

.back-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #dc143c;
  border-color: #dc143c;
  margin-bottom: 10px;
}
.user-left {
  text-align: left;
  margin: 10px 10px 10px 0;
}

.user-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #dc143c;
  border-color: #dc143c;
  margin-bottom: 10px;
}
//投稿表示部分

.post {
  border-bottom: solid 1px; 
}